version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.9
    steps:
      - checkout
      - restore_cache:
          key: deps1-{{ .Branch }}-{{ checksum "python/requirements/testing.txt" }}
      - run:
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r python/requirements/testing.txt
      - save_cache:
          key: deps1-{{ .Branch }}-{{ checksum "python/requirements/testing.txt" }}
          paths:
            - "venv"
      - run:
          name: Running tests
          command: |
            . venv/bin/activate
            cd djangofir
            python manage.py test
      - store_artifacts:
          path: test-reports/
          destination: python_app
